{{!-- These divs wil contain the search elements --}}
<div class="row searchbar justify-content-center" id="search-now">
  <div class="col-lg-12" id="search-title">SEARCH THE COSMOS</div>
</div>
<div class="row searchbar justify-content-center">
  <form class="form-inline lg-form form-lg active-cyan-2 mt-2">
      <button id="find-photo" class="btn btn-elegant btn-rounded btn-md my-0" value="Photo Search">Search</button>
      <input class="form-control form-control-xl mr-3" style="width: 40vw; background-image:url('../img/271373.jpg'); color: white; text-align: center;" type="text" placeholder="To Infinity and Beyond" id="search" aria-label="Search">
    </form>
</div>
</div>