{{!-- These divs wil contain the search elements --}}
  <div class="row searchbar justify-content-center">
    <div class="col-lg-12" id="search-title">SEARCH THE COSMOS</div>
  </div>
  <div class="row searchbar justify-content-center">
    <!-- Search form -->
    <form class="form lg-form form-lg active-cyan-2 mt-2">
      <input type="submit" class="form-control form-control-xl mr-3" style="width: 40vw; background-image:url('../img/271373.jpg'); color: white; text-align: center;" type="text" placeholder="To Infinity and Beyond" id="search"aria-label="Search">
    </form>
  </div>
</div>